{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".ios.js", ".android.js", ".js", ".json"],
      "alias": {
        "components": "./src/components",
        "config": "./src/config",
        "mygraphql": "./src/graphql",
        "helpers": "./src/helpers",
        "lib": "./src/lib",
        "stores": "./src/stores"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": ["react-native-paper/babel", "transform-remove-console"],
    },
  },
}
